<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <Card>
        <Card.Header as="h5">{firstName} {lastName}</Card.Header>
        <Card.Body>
            <Row>
                <Col>
                <img src={image} alt={lastName} width="100"></img>

                </Col>
                <Col>
                <Card.Text>C.E.O.</Card.Text>
                <Card.Text>{email}</Card.Text>
                <Card.Text>{phone}</Card.Text>
                </Col>
            </Row>
        </Card.Body>
    </Card>
</body>

</html>